.job-summary {
    padding: 10px;

    .job-summary-paper {
        padding: 10px;
        text-transform: uppercase;
        text-align: center ;

        &.doing { 
            background-color: #11611c;
        }
        &.failed { 
            background-color: #8d1818;
        }
    }
}